/* Dropdown box */
.dropdown {
    z-index: 2;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 30px;
    padding: 13px 20px 13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    align-items: center;
    background: #FF6060;
    color: white;
    border-radius: 5px;
}

/* Dropdown content box */
.dropdown-content {
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    background: #F7F7F7;
    color: #FF6060;
    list-style-type: none;
    border-radius: 5px;
    margin: 0;
    padding: 25px 12px 15px 20px;
    margin-top: -15px;
}

/* Dropdown content list */
.dropdown-list {
    padding-left: 0;
}

/* Dropdown list elements */
.dropdown-list-elements {
    width: max-content;
    font-weight: 400;
    font-size: 22px;
    line-height: 142.6%;
    list-style-type: none;
}

/* Dropdown responsive mobil */
@media screen and (max-device-width: 375px) {
    .dropdown {
        height: 29px;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 6px 11px 6px;
        font-size: 14px;
    }

    .dropdown-content {
        margin-bottom: 20px;
        margin-top: -33px;
        padding: 23px 7px 23px 12px;
        font-size: 12px;
    }

    /* Dropdown content paragraph */
    .dropdown-content p {
        margin-bottom: 0;
    }

    .dropdown-list {
        margin-bottom: 0;
    }

    .dropdown-list-elements {
        font-size: 12px;
    }
}