.dropdown {
    z-index: 2;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    background: #FF6060;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    border-radius: 10px;
    padding: 13px 20px 13px;
}

.dropdown-content {
    z-index: 1;
    background: #F7F7F7;
    color: #FF6060;
    list-style-type: none;
    border-radius: 10px;
    margin: 0;
    padding: 25px 12px 27px 20px;
    margin-top: -15px;
}

.dropdown-list-elements {
    width: max-content;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
}