/* Housing page housing content */
.logement-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Housing page title */
.logement-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #FF6060;
}

/* Housing page location */
.logement-location {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #FF6060;
}

/* Housing page box tags */
.logement-tags {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

/* Housing page rating */
.logement-rating {
    text-align: end;
}

/* Housing page dropdowns */
.logement-page-dropdowns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 75px;
    margin-bottom: 50px;
}

/* Housing page responsive */
@media screen and (max-device-width: 375px) {
    .logement-content {
        display: block;
    }

    .logement-title {
        margin-top: 15px;
        font-size: 18px;
    }

    .logement-location {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .logement-tags {
        flex-wrap: wrap;
    }

    /* Housing box Host and Rating */
    .logement-owner-and-rating {
        display: inline-flex;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 64px;
    }

    .logement-rating {
        align-self: center;
        padding-bottom: 5px;
    }

    .logement-page-dropdowns {
        display: block;
        margin-bottom: 70px;
    }
}