/* Host box */
.logement-owner {
    display: flex;
    text-align: end;
    justify-content: flex-end;
}

/* Host name owner */
.owner-name {
    width: 110px;
    height: 53px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 142.6%;
    font-weight: 500;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 33px;
    margin-right: 10px;
    color: #FF6060;
}

/* Host photo owner */
.owner-photo {
    width: 64px;
    height: 64px;
    margin-top: 24px;
    margin-bottom: 27px;
    border-radius: 50px;
}

/* Host responsive mobil */
@media screen and (max-device-width: 375px) {
    .logement-owner {
        justify-content: unset;
    }

    .owner-name {
        margin-top: 11px;
        margin-bottom: 0;
        font-size: 12px;
    }

    .owner-photo {
        width: 32px;
        height: 32px;
        margin-top: 13px;
        margin-bottom: 0;
    }
}