/* Logement Owner : Picture and Name */
.logement-owner {
    display: flex;
    text-align: end;
    justify-content: flex-end;
}

.owner-name {
    width: 110px;
    height: 53px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 142.6%;
    font-weight: 500;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 33px;
    margin-right: 10px;
    color: #FF6060;
}

.owner-photo {
    width: 64px;
    height: 64px;
    margin-top: 24px;
    margin-bottom: 27px;
    border-radius: 50px;
}