/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 30px;
    background-color: black;
    color: white;
}

/* Footer paragraph */
footer p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-top: 30px;
    font-size: 24px;
    font-weight: 400;
}

/* Footer responsive mobil */
@media screen and (max-device-width: 375px) {
    footer {
        padding-top: 62px;
        padding-bottom: 62px;
    }

    footer p {
        font-size: 12px;
    }
}