/* Error page */
.Error-page {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Error page '404' number */
.Error-number {
    font-size: 288px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    color: #FF6060;
}

/* Error page text */
.Error-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    margin-top: 65px;
    margin-bottom: 0;
    color: #FF6060;
}

/* Error page link to home */
.Error-tohome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 160px;
    font-size: 18px;
    text-decoration-line: underline;
    color: #FF6060;
}

/* Error page responsive mobil */
@media screen and (max-device-width: 375px) {

    .Error-number {
        font-size: 96px;
        margin-top: 195px;
    }

    .Error-text {
        height: 52px;
        text-align: center;
        margin: 11px 58px 133px 57px;
        font-size: 18px;
    }

    .Error-tohome {
        margin-top: 0;
        margin-bottom: 235px;
        font-size: 14px;
    }
}