.banner {
    display: flex;
    height: 223px;
    background: #000000;
    border-radius: 25px;
}

.title-banner {
    z-index: 2;
    position: absolute;
    left: 30%;
    top: 28%;
    margin: auto;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 48px;
}

.img-background-banner {
    position: relative;
    width: 100%;
    margin: 0;
    border-radius: 25px;
    object-fit: cover;
    opacity: 0.7;
}