/* Slider box */
.carrousel-block {
    display: flex;
}

/* Slider images */
.img-carrousel {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

/* Slider images count */
.pictures-count {
    position: absolute;
    width: 1240px;
    text-align: center;
    margin-top: 368px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
}

/* Slider arrow left */
.icon-arrow-left {
    position: absolute;
    width: 47px;
    height: 80px;
    top: 290px;
    margin-left: 24px;
    color: white;
}

/* Slider arrow right */
.icon-arrow-right {
    position: absolute;
    width: 47px;
    height: 80px;
    top: 290px;
    margin-left: 1165px;
    color: white;
}

/* Slider responsive mobil */
@media screen and (max-device-width: 375px) {
    .img-carrousel {
        width: 335px;
        height: 255px;
        border-radius: 10px;
    }

    .pictures-count {
        display: none;
    }

    .icon-arrow-left {
        width: 12px;
        height: 20px;
        top: 210px;
        margin-left: 6px;
    }

    .icon-arrow-right {
        width: 12px;
        height: 20px;
        top: 210px;
        left: 337px;
        margin-right: 6px;
        margin-left: 0;
    }
}